<?xml version="1.0"?>
<ruleset name="Address Autocomplete for Ninja Forms">
    <description>Code standard rules for the standalone Address Autocomplete plugin.</description>

    <arg value="s"/>
    <arg value="p"/>
    <arg name="colors"/>

    <arg name="extensions" value="php"/>
    <file>../src</file>
    <file>../address-autocomplete-for-ninja-forms.php</file>

    <exclude-pattern>/vendor/*</exclude-pattern>
    <exclude-pattern>/node_modules/*</exclude-pattern>
    <exclude-pattern>*.js</exclude-pattern>
    <exclude-pattern>style.css</exclude-pattern>
    <exclude-pattern>tests/*</exclude-pattern>

    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

    <config name="php_version" value="8.4"/>
    <config name="minimum_supported_wp_version" value="6.5" />
    <config name="testVersion" value="7.4-"/>

    <!-- WordPress coding standards, adjusted for this project's PSR-4 structure. -->
    <rule ref="WordPress">
        <exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
        <exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
        <exclude name="WordPress.Files.FileName.InvalidClassFileName" />
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
        <exclude name="WordPress.NamingConventions.ValidVariableName.PrivateNoUnderscore" />
        <exclude name="Generic.Arrays.DisallowShortArraySyntax" />
        <exclude name="Universal.Arrays.DisallowShortArraySyntax" />
        <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames.defaultFound" />
    </rule>

    <rule ref="PSR2">
        <severity>0</severity>
    </rule>
</ruleset>
